.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
}

.fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
}

.fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
}

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
}

.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}

.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
}

.fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
}

.fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
}

.fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
}

.fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
}

.fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
}

.fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
}

.fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
}

.fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
}

.fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
}

.fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
}

.fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
}


/* shared styles */
.bg-green {
    background-color: #C6E4D6;
}

.btn-prime {
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    border-radius: 15px;
    background-color: #006A50;
    border-color: #006A50;
    border: none;


}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;
    width: 1600px;
    height: 100px;
}

.nav-title {
    font-size: 38px;
    font-weight: bold;
    color: #0E0E0E;
    margin-left: 190px;
}

.btn-sign {
    background-color: #F5F5F5;
    border-color: #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 21px;
    font-style: normal;
    color: #006A50;
    margin-left: 200px;
}

/* Banner styles */
.banner {
    display: flex;
    border-radius: 24px;
    padding: 100px 80px;
    width: 1380px;
    height: 560px;
    margin: 24px 190px;
    justify-content: space-between;
}

.small-title {
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
}

.big-title {
    font-size: 60px;
    font-weight: bold;
    width: 622px;
    padding: 0px;
    margin-bottom: 24px;
}

.banner img {
    width: 562px;
    height: 475px;

}

/* pixel multiply by 1.1875 */

/* Pillars styles */
.pillars-section {
    background-color: #FFFFFF;
    margin: 95px 190px;
    width: 1520px;
    height: 384px;
}

.pillar-title {
    color: #0E0E0E;
    font-weight: bold;
    font-size: 47px;
    padding: 0%;
    margin-bottom: 20px;
}

.pillar {
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 28px 28px;
    width: 358px;
    height: 289px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 19px;
    font-weight: 400;
    text-align: left;
    border-radius: 16px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
}

.margin-l {
    margin-left: 28px;
}

.margin-r {
    margin-right: 28px;
}

.margin-lr {
    margin: 0px 28px 0px 28px;
}

.pillars-itself {
    display: flex;
    justify-content: space-evenly;
}

/* Vision Of Future styles */
.vision {
    background-color: #F1F1F3;
    align-items: center;

}

.vision-title {
    font-size: 47px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 0px 190px 28px 190px;

}

.vision-description {
    font-size: 19px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    text-shadow: 2px 2px 4px #000000;
    margin: 0px 190px 38px 190px;

}

.vision-things {
    display: flex;
    justify-content: space-evenly;

}

.vision-idea-name {
    font-size: 23px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}

.vision-idea-description {
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    font-size: 19px;
}

.bg-blu {
    background-color: rgba(84, 144, 245, 0.2);
    color: #FFFFFF;
    padding: 38px;
    border-radius: 16px;
    margin: 0px 45px 0px 190px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-blu {
    padding: 23px 20px;
    color: #FFFFFF;
    background-color: #5490f5;
    border: 486px 385px;
    border-radius: 8px;
    border-color:#5490f5;
    border: none;

}

.bg-greene {
    color: #FFFFFF;
    background-color: rgba(198, 228, 214, 1);
    padding: 38px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-greene {
    padding: 23px 20px;
    color: #FFFFFF;
    background-color: #09a15c;
    border: 486px 385px;
    border-radius: 8px;
    border-color: #09a15c;
    border: none;

}

.bg-yellow {
    background-color: rgba(247, 235, 207, 1);
    color: #FFFFFF;
    padding: 38px;
    border-radius: 16px;
    margin: 0px 190px 0px 45px;
    border: 486px 385px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-yellow {
    padding: 23px 20px;
    color: #FFFFFF;
    background-color: #FFC239;
    border-radius: 8px;
    border-color: #FFC239;
    border: none;

}
/* Quote styles */
.Quote{
    background-color: #FFFFFF, rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 57px 28px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    margin: 38px 190px 38px 190px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}
.Quote-para{
    color: rgba(14, 14, 14, 0.8);
}
/* News Styles */
.news{
    justify-content: center;
}
.heading{
    font-size: 47px;
    font-weight: bold;
    width: 1520px;
    height: 47px;
    color: #0E0E0E;
    margin: 95px 190px 28px 190px;
}
.news-p{
    font-weight: 400;
    font-size: 19px;
    width: 1520px;
    height: 47px;
    color: rgba(14, 14, 14, 0.7);
    text-shadow: 2px 2px 4px #000000;
    margin: 95px 190px 28px 190px;

}
.dt{
    display: flex;
}
.date, .time{
    padding-right: 14px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 19px;
}
.details{
    font-size: 19px;
    color: rgba(14, 14, 14, 0.7);
}
.news1,.news2 ,.news3{
    display: flex;
    border-radius: 28px;
    padding: 48px;
    background-color: #FFFFFF;
    width: 1520px;
    height: 477px;
    margin: 95px 190px 28px 190px;
    border-color: #FFFFFF;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);

}
.news1 img{
    border-radius: 28px;
    padding-right: 38px;
}
.news2 img{
    border-radius: 28px;

}
.news3 img{
    border-radius: 28px;
    padding-right: 38px;
}
.headline{
    font-size: 38px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.read-more{
    border: none;

}
/* Donate Styles */
.donate{
    width: 1520px;
    height: 551px;
    align-items: center;
    border-radius: 5px;
    margin: 95px 190px 28px 190px;
    justify-content: center;
}
.donate-top{
    font-weight: bold;
    font-size: 47px;
    color: #0E0E0E;
    text-align: center;
    text-shadow: 2px 3px 5px #0E0E0E;

}
.donate-p{
    font-size: 19px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    text-shadow: 2px 2px 4px #000000;
}
.donate-amount{
    display: flex;
    justify-content: space-evenly;
    margin: 32px 123px 32px 123px;
}
.donate textarea{
    height: 50px;
    width: 1200px;
    color: rgba(14, 14, 14, 0.3);
    font-size: 23px;
    font-weight: 400;
    padding: 47px 100px;
    text-align: center;
    border: rgba(14, 14, 14, 0.15);
    background-color: #FFFFFF;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);

}
.donation{
    border-radius: 19px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    font-size: 47px;
    font-weight: bold;
    justify-content: space-evenly;
    padding: 47px;
    margin: 32px 24px;
    width: 285px;
    height: 152px;
    text-align: center;
}
.donate-done{
    margin: 38px 669px;
    border: none;

}
/* Subscribe styles */
.subscribe{
    width: 1000px;
    height: 360px;
    padding: 30px 314px 95px 314px;
    display: flexbox;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.25);
    margin: 95px 190px;
}
.subscribe-title{
    font-size: 48px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 95px;
    margin-bottom: 19px;
    text-align: center;

}
.subscribe-subtitle{
    font-weight: 400;
    font-size: 19px;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
}
.subscribe input[type = "email"]{
    padding: 21px 47px;
    width: 600px;
    height: 35px;
    background-color: #FFFFFF;
    color:rgba(14, 14, 14, 0.3);
    font-size: 16px;
    font-weight: 400;
    border: none;
    margin-right: 0px;
    border-radius: 10px 0px 0px 10px;

}
.subscribe-small-p{
    font-weight: 400;
    font-size: 19px;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
}
.btn-sub{
    width: 150px;
    height: 75px;
    padding: 17px 34px;
    background-color: rgba(0, 106, 80, 1);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin-left: 0;
    border-radius: 0px 10px 10px 0px;
}
.em-btn{
    border-radius: 15px;
    display: flex;
}
/* footer styles */
footer {
    justify-content: center;
}
.footer-bd{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 38px;
    margin: 59px 810px 10px 810px;
}
.foot-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 877px 59px 877px;
    padding-top: 50px;
}